<div class="page-container">
    <div class="projects-list">
        <gtd-project-card
                *ngFor="let project of projects"
                [tags]="tags"
                [project]="project"
                (delete)="deleteProject(project.id)">
        </gtd-project-card>
    </div>
</div>
