@import '../../../assets/scss/_colors';
@import '../../../assets/scss/_vars';
@import '../../../assets/scss/_mixins';

:host {

  button {
    font-size: 22px
  }

  .incomings-list {
    margin-top: 35px;
    margin-bottom: 70px;
    @include mobile-only {
      margin-bottom: 140px;
    }
  }

  gtd-incoming-card {
    display: block;
    margin-bottom: 10px;
  }

  .add-button-container {
    position: fixed;
    bottom: 0;

    height: 75px;
    width: calc(100% - 30px);
    max-width: 1080px;
    text-align: center;

    background-color: $background-color;
    // TODO better, use to hide box-shadow from card under
    box-shadow: 0 0 0 4px $background-color;

    .floating-add-button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
