<div class="page-container" >
    <div #container class="next-action-detail-container">
        <form *ngIf="nextActionForm && tagLoaded" [formGroup]="nextActionForm" (ngSubmit)="onSubmit()">
            <gtd-next-action-form
                    formControlName="nextAction"
                    [tags]="availableTags">
            </gtd-next-action-form>
            <button mat-raised-button color="primary" type="submit" [disabled]="!nextActionForm.valid">{{ 'global.save' | translate | uppercase}}</button>
        </form>
    </div>
</div>
