@import "../../../assets/scss/main-styles.scss";

.page-container {

    .search-bar-container {
        border: 1px solid $green-dark;
    }

  .notes-list {
    margin-top: 35px;
    margin-bottom: 70px;
  }

  app-note-card {
    display: block;
    margin-bottom: 25px;
  }
}

.floating-add-button {
  position: fixed;
  bottom: 50px;
  width: 650px;
  border-radius: 0;
  margin: auto;

  font-size: 24px;
}
