<div class="page-container" *ngIf="tags">
  <form [formGroup]="tagForm">
    <input type="hidden" formControlName="id">
    <div class="form-fields">
      <mat-form-field>
        <mat-label>{{ 'tags.label' | translate }}</mat-label>
        <input matInput type="text" formControlName="label">
      </mat-form-field>
      <button mat-icon-button [(colorPicker)]="color" [style.background]="color" [cpPosition]="'bottom-left'">
        <mat-icon>palette</mat-icon>
      </button>
    </div>
    <div class="form-fields">
      <mat-form-field>
        <mat-label>{{ 'tags.icon' | translate }}</mat-label>
        <input matInput type="text" formControlName="icon">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!tagForm.valid">
      {{ 'global.save' | translate }}</button>
  </form>
    <mat-chip-listbox>
        <mat-chip *ngFor="let tag of tags" (click)="editTag(tag.id)" [style.background-color]="tag.color">
            <div class="chip-content">
                <mat-icon>{{ tag.icon }}</mat-icon>
                <span>{{ tag.label }}</span>
            </div>
        </mat-chip>
    </mat-chip-listbox>
</div>
