<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button routerLink="/checklists">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSort()">
            <mat-icon>sort_by_alpha</mat-icon>
        </button>
        <button mat-icon-button (click)="resetList()">
            <mat-icon>restart_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter()">
            <mat-icon *ngIf="showAll; else showUnchecked">visibility</mat-icon>
            <ng-template #showUnchecked>
                <mat-icon>visibility_off</mat-icon>
            </ng-template>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row [class.cdk-visually-hidden]="!showSearch">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'global.search' | translate }}</mat-label>
            <input matInput #searchInput type="text" [(ngModel)]="search"/>
            <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>
<div class="page-container" *ngIf="checklist">
    <div *ngIf="!editMode; else creationMode" class="checklist-title"
         (click)="toggleNameEdit()">{{ checklist.name }}</div>
    <ng-template #creationMode>
        <form [formGroup]="checklistNameForm" (ngSubmit)="editTitle()">
            <mat-form-field>
                <mat-label>{{ 'checklists.form.name' | translate}}</mat-label>
                <input matInput #nameInput type="text" formControlName="name"/>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!checklistNameForm.valid">SAVE
            </button>
        </form>
    </ng-template>

    <div class="checklist-elements">
        <ng-container *ngFor="let element of checklist.checklistElements; let idx = index">
            <div class="checklist-element" *ngIf="element | ckeDisplay: showAll: search">
                <span (click)="toggleChecked(element)" [class.isChecked]="element.checked">
                    {{ element.label }}
                </span>
                <div class="cke-action-buttons">
                    <button mat-mini-fab color="primary" (click)="deleteElement(idx)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="editElement(idx)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="checklist.id" class="new-element-form">
        <form [formGroup]="checklistElementForm">
            <mat-form-field>
                <mat-label>{{ 'checklists.form.name' | translate}}</mat-label>
                <input matInput #newInput type="text" formControlName="label"/>
            </mat-form-field>
            <div class="button-blocks">
                <button mat-raised-button color="primary" (click)="saveElement()" [disabled]="!checklistElementForm.valid">{{ 'global.save' | translate}}</button>
                <button mat-raised-button color="warn" (click)="cancel()">{{ 'global.cancel' | translate}}</button>
            </div>
        </form>
    </div>
    <button mat-fab
            class="fab floating"
            color="primary"
            aria-label="Save button"
            *ngIf="hasChange"
            (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</div>
