@import '../../../assets/scss/_colors';
@import '../../../assets/scss/_vars';
@import '../../../assets/scss/_mixins';

:host {

  mat-toolbar {

    min-height: 50px;

    mat-toolbar-row {
      display: flex;
      justify-content: space-around;
      max-width: 1080px;
      margin: auto;
      height: 50px;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .page-container {

    display: block;
    position: relative;

    .checklist-title {
      width: 100%;
      font-size: 22px;
      text-align: center;
      color: $primary;
      margin-bottom: 25px;
    }

    .checklist-element {
      display: flex;
      position: relative;
      cursor: pointer;
      margin: 5px;
      border-bottom: 0.25px solid #d7d1d1;
      line-height: 50px;

      @include mobile-only {
        width: calc(100% - 20px);
        margin: 0;
      }

      span {
        flex-grow: 9;
        display: inline-block;

        &.isChecked {
          color: $beige-light;
          &:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            border-bottom: 1px solid $beige-light;
            width: 80%;
          }
        }
      }
      .cke-action-buttons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 12px;
      }
    }

    .new-element-form {
      padding: 15px 0;
      margin-left: 5px;
      margin-bottom: 20px;

      form {
        display: flex;
        width: 100%;

        mat-form-field {
          flex-grow: 8;
          width: calc(100% - 100px);
        }

        .button-blocks {
          flex-grow: 2;
          display: flex;
          gap: 10px;

          button {
            height: 50px;
            width: 80px;
          }
        }
      }
    }

    .floating {
      position: absolute;
      bottom: -30px;
      right: 15px;

      @include mobile-only {
        position: fixed;
        bottom: 15px;
        right: 15px;
      }
    }
  }
}
