@import '../../../assets/scss/_colors';
@import '../../../assets/scss/_vars';
@import '../../../assets/scss/_mixins';

.next-action-card-container {

  box-shadow: 0 2px 15px 2px rgba(black, 0.068);
  transition: box-shadow 0.2s ease-out;
  min-height: 75px;

  &:hover {
    box-shadow: 0 0 0 4px rgba(black, 0.068);
  }

  .next-action-card-content {

    .next-action-card-body {
      position: relative;
      max-height: 80px;
      overflow: hidden;
    }
  }

  .next-action-card-buttons {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-evenly;
    width: 150px;
    position: absolute;
    top: 10px;
    right: 20px;
    gap: 10px;
    flex-wrap: wrap;
  }
}

:host {

  mat-card-title {
    span {
      font-size: 16px;
      color: rgba(0, 0, 0, .54);
    }

    @include mobile-only {
      font-size: 14px;
    }
  }

  mat-card-header {
    width: calc(100% - 120px);
  }

  mat-card-actions {
    margin: 0;
    padding: 0 16px;

    mat-chip {

      .chip-content {
        display: flex;
        gap: 5px;
        align-items: center;

        @include mobile-only {
          span.desktop-only {
            display: none;
          }
        }
      }
    }
  }

  mat-card-footer {
    form {
      width: 85%;
      margin: 30px auto;
    }

    .incoming-buttons button {
      margin: 15px;
    }
  }
}
