<div class="page-container">
    <div class="checklists-list">
        <div class="checklist" *ngFor="let checklist of checklists">
            <div class="checklist-title" [routerLink]="['/checklists', checklist.id]">{{checklist.name}}</div>
            <div class="checklist-actions">
                <button mat-mini-fab color="primary" (click)="deleteChecklist(checklist)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="checklist-add">
        <button mat-raised-button color="primary" class="floating-add-button" [routerLink]="['/checklists', 'new']">{{ 'checklists.add' | translate}}</button>
    </div>
</div>
