<div class="page-container">
    <div *ngIf="currentIncoming; else elseBlock">
        <div class="incoming-details">
            <gtd-incoming-card
                    [incoming]="currentIncoming"
                    (delete)="executeDelete(currentIncoming, true)">
            </gtd-incoming-card>
        </div>

        <div class="create-form">
            <div class="incoming-buttons">
                <button mat-raised-button color="primary" (click)="executeDelete(currentIncoming, true)">{{ 'global.delete' | translate | uppercase}}</button>
                <button mat-raised-button color="primary" (click)="sendToMaybe()">{{ 'actions.types.maybe' | translate | uppercase}}</button>
            </div>

            <form [formGroup]="creationForm" (ngSubmit)="submitForm()">
                <div formGroupName="project" class="form-project">
                    <mat-form-field>
                        <mat-label>{{ 'projects.projects' | translate | uppercase}}</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <input type="hidden" formControlName="status">
                </div>
                <gtd-next-action-form
                        formControlName="nextAction"
                        [tags]="availableTags">
                </gtd-next-action-form>

                <div class="incoming-buttons">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!creationForm.valid">{{ 'incomings.create' | translate | uppercase}}
                    </button>
                    <button mat-raised-button color="primary"
                            *ngIf="creationForm.controls.project['controls'].name.value" type="submit"
                            (click)="this.isWaitingAction = true">
                        {{ 'actions.waiting' | translate | uppercase}}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <ng-template #elseBlock>{{ 'incomings.noManage' | translate }}</ng-template>
</div>
