<div class="page-container">
    <mat-button-toggle-group (change)="toggleAction($event.value)">
        <mat-button-toggle *ngFor="let type of actionTypes" [checked]="type === filter.actionType" [value]="type">{{ type }}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group multiple (change)="toggleTag($event)">
        <mat-button-toggle *ngFor="let tag of tags" value="{{ tag.id }}">{{ tag.label }}</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="next-actions-list">
        <gtd-next-action-card
                *ngFor="let nextAction of filteredActions$ | async"
                [nextAction]="nextAction"
                [tags]="tags"
                (finishAction)="finishAction(nextAction.id)"
                (finishActionAndProject)="finishActionAndProject(nextAction.id)"
                (addNextAction)="addNewAction(nextAction.id, $event)"
                (editAction)="editAction(nextAction.id)"
                (switchStandard)="switchToStandard(nextAction)">
        </gtd-next-action-card>
    </div>
</div>
