@charset "utf-8";

$white: #FFFFFF;
$black: #000000;
$green: #2E7D32;
$green-dark: rgb(32, 95, 4);
$green-light: rgb(174, 250, 144);
$pink: rgba(250, 124, 145, 0.24);
$gray: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: rgb(30, 72, 153);
$yellow: #F9A825;
$red: #C62828;
$grey: #424242;
$background-color : #fafafa;
