/**** Lib / dependencies styels ****/

// Fontawesome
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import './assets/scss/main-styles.scss';
@import '@aws-amplify/ui-angular/theme.css';

.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  max-width: 1080px;
  margin: auto;
  @include mobile-only {
    margin: 0 15px;
    padding-top: 20px;
  }
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.ngx-toastr {
  @include desktop-only {
    width: unset !important;
    min-width: 250px;
    max-width: 500px;
  }

  @include maxi-only {
    width: unset !important;
    min-width: 350px;
    max-width: 800px;
  }
}
