/**** Lib / dependencies styels ****/

// Bulma
@import '../node_modules/bulma/bulma.sass';

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";


/**** CUSTOM STYLES ****/

// Custom - split in var and other
@import './assets/scss/main-styles.scss';

.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  max-width: 650px;
  margin: auto;
}
