<h2 mat-dialog-title>{{ data.id ? 'Edit incoming' : 'New incoming' }}</h2>
<mat-dialog-content>
    <form [formGroup]="incomingForm" (ngSubmit)="onSubmit()" *ngIf="incomingForm" class="incomings-creation-form">
        <mat-form-field>
            <mat-label>{{ 'incomings.title' | translate}}</mat-label>
            <input matInput #incomingTitle type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'incomings.content' | translate}}</mat-label>
            <textarea matInput type="text" formControlName="content"
                   cdkTextareaAutosize
                   cdkAutosizeMinRows="1"
                   cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="creationDate">
        <input type="hidden" formControlName="completionDate">
        <input type="hidden" formControlName="completed">

        <div class="buttons-container">
            <button mat-raised-button color="primary" (click)="onCancel()" type="button">{{ 'global.cancel' | translate | uppercase}}</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="incomingForm.invalid">{{ 'global.save' | translate | uppercase}}</button>
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="incomingForm.invalid"
                    (click)="this.addAnother = true">{{ 'incomings.saveNew' | translate | uppercase}}</button>
        </div>
    </form>
</mat-dialog-content>
