<div #container class="note-card-container">
    <div class="note-card-content">
        <h2 class="note-card-title">Title</h2>

        <div #bodyText class="note-card-body">
          <p>Body of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of ody of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of ody of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of ody of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of ody of the card Body of the card Body of the card Body of the card Body of the card Body of the card Body of ody of the card Body of the card Body of the card Body of the card Body of the card Body of the c the card Body of the card </p>
          <div #truncator class="fade-out-truncation"></div>
        </div>
    </div>

  <div class="x-button"></div>
</div>
