:host {
  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar {

    button {
      font-size: 18px;
    }

    .mat-primary {
      position: sticky;
      top: 0;
    }
  }

  mat-sidenav-content mat-toolbar {
    justify-content: space-evenly;
  }
}
