<amplify-authenticator [hideSignUp]="true" >
    <ng-template
            amplifySlot="authenticated"
            let-signOut="signOut">
        <gtd-navigation (logout)="signOut()"></gtd-navigation>
        <router-outlet></router-outlet>
    </ng-template>
</amplify-authenticator>
