<mat-card>
    <mat-card-header (click)="update()">
        <mat-card-title>{{ incoming.title }}  <span>- {{ incoming.creationDate | date: 'd/MM/yy' }}</span></mat-card-title>
        <mat-card-subtitle>{{ incoming.content | shorten }}</mat-card-subtitle>
    </mat-card-header>
    <button mat-mini-fab color="primary" class="x-button copy-btn" [cdkCopyToClipboard]="incoming.title">
        <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="x-button delete-btn" (click)="deleteIncoming()">
        <mat-icon>delete</mat-icon>
    </button>
</mat-card>
